

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background-color: rgb(237, 211, 177);
}

.sidenav a,.login .closebtn{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
}


.sidenav a:hover  {
    color: white;
}
.sidenav .closebtn:hover,.login .closebtn:hover{
    color: red;
}

.sidenav .closebtn, .login .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}



ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ul-v {
    overflow: auto;
    position: fixed;
    height: 100%;
}

.li-v a,
.dropdown-content a {
    width: 100%;
    text-align: left;
}

.ul-h {
    overflow: hidden;
}

.li-h {
    float: left;
}


li a.active {
    text-decoration: underline;
}

li a:hover:not(.active) {
    
    color:rgb(243, 192, 125) ;
}

li a,
.dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
    text-decoration: underline;
    text-decoration-color:black ;
    color: rgb(243, 192, 125);
}

li.dropdown {
    display: inline-block;
}

.dropdown-content .inside:hover{
    color: black;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(237, 211, 177);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    width: 80%;
}

.dropdown:hover .dropdown-content {
    display: block;
}


* {
    font-family:Kanit;
}
.login{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background-color: rgb(237, 211, 177);  
    border: 1px outset white; 
    border-radius: 15px;
    font-family: Corbel;
    font-weight: bolder;
}

.in {
    width: 300;
    height: 45;
    color: BLACK;
    background-color: lightgray;
    font-size: 25px;
    border-radius: 5px;
    BORDER: 1PX OUTSET BLACK;
}

.button {
    width: 75;
    height: 40;
    background-color: LIGHTGREEN;
    font-size: 20px;
    border-radius: 10px;
    border: 1px outset black;
    margin-left: 40%;
    margin-top: 1%;
    margin-bottom:5% ;
    cursor: pointer;
}
